<!DOCTYPE html>
<html>
    {% include "partials/header.html" %}
    <body>
        <div class="container">

            <h1>{{ stylist.getName }}</h1>

            {% if clients is not empty %}
                <ul class="list-group">
                    {% for client in clients %}
                    <li class="list-group-item">
                        {{ client.getName }} | <a href="/{{ stylist.getId }}/clients/{{ client.getId }}/edit">Edit</a>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <br>
            <form action="/clients" method="post">
                <input id="stylist_id" name="stylist_id" type="hidden" value="{{ stylist.getId() }}">
                <label for="name">Client name</label>
                <input id="name" class="form-control" name="name" type="text">
                <br>
                <button class="btn btn-success" type="success">Add Client</button>
            </form>

            <br>
            <h5><a href="/stylists/{{ stylist.getId }}/edit">Edit {{ stylist.getName }}</a></h5>
            <br>
            <h5><a href="/">Home</a></h5>

        </div>
    </body>
</html>
